{% extends 'base.html.twig' %}

{% block body %}
    <h2>Je préfère... des explications</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare pellentesque mi, in lobortis neque elementum non. Sed tempus enim imperdiet scelerisque tempus. Morbi in dolor et erat pharetra rhoncus. Vivamus hendrerit aliquam dictum. Etiam non odio sit amet tortor mollis varius nec quis est. Vestibulum risus eros, rutrum a scelerisque sed, laoreet non lorem. Aliquam pulvinar tincidunt ultrices. Nulla feugiat pharetra tristique. Sed euismod ligula magna, quis hendrerit massa viverra nec. Praesent molestie arcu et odio mattis cursus id et orci. Aenean et placerat felis. Praesent mollis eros sit amet erat iaculis, sit amet volutpat massa congue. Donec suscipit ex quis nisi tincidunt vestibulum. Maecenas tempus accumsan bibendum. Sed elit lectus, molestie id egestas vel, vestibulum sit amet justo. Fusce quis erat eu diam laoreet dignissim.</p>

    <p>Suspendisse fringilla quam in ex ornare tempor. Sed at scelerisque tortor, eget ultrices quam. Fusce ut quam eu erat ullamcorper faucibus eu tempor arcu. Maecenas varius finibus magna eu fermentum. Sed nec lacus ligula. In in augue non erat rhoncus mattis. Phasellus quis lectus ullamcorper, pulvinar orci sit amet, convallis felis. Aenean justo nunc, euismod at hendrerit non, molestie venenatis tortor. Praesent tincidunt nibh eu molestie sagittis. Praesent tincidunt lacus non nunc sollicitudin laoreet. Nulla vitae ornare sem, in sagittis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam risus magna, pretium vel elit ut, tincidunt tincidunt velit. Etiam egestas nunc leo, id tristique orci iaculis id. Aliquam commodo quam quam, nec dictum mi ultricies eu.</p>

        <p>Nulla ex erat, mollis tempor bibendum sed, tempus in lacus. Fusce porttitor accumsan arcu vitae varius. Pellentesque porttitor scelerisque ligula, ut imperdiet ante mollis sit amet. Suspendisse potenti. Duis at tempus turpis. Vestibulum dapibus mattis nisl non finibus. Nulla pretium posuere sem, id efficitur purus iaculis in. Nunc ut tincidunt mauris. Donec venenatis nulla ac massa ornare eleifend.</p>
{% endblock %}
